.footer{
    margin: 0 auto;

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer button {
    background-color: #8e49e9;
    width: 90%;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 24px;
    color: #f0f0f0;
    font-weight: bold;
    cursor: pointer;
}
.footer button:active {
opacity: .8;
}