* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    height: 100vh;
    background: rgb(71, 121, 223);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(71, 121, 223, 1) 0%, rgba(104, 231, 206, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-div {
    background-color: #f0f0f0;
    width: 450px;
    height: 620px;
    box-shadow: #0000007e 0px 1px 8px;
    border-radius: 15px;

}

.main-div h1 {
    margin: 0 auto;
    height: 70px;
    width: 90%;
    text-align: center;
    font-size: 45px;
    border-bottom: 1px solid #0000006d;
}

.main-div .input-div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    /* background-color: pink; */
    align-items: center;
}

.input-div input {
    width: 75%;
    height: 50px;
    padding: 10px 23px;
    font-size: 25px;
    margin-right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    outline: none;
    box-shadow: #0000007e 0px 1px 4px;

}

.input-div button {
    width: 15%;
    height: 50px;
    margin-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    outline: none;
    box-shadow: #0000007e 0px 1px 4px;
    background-color: #8e49e9;
    cursor: pointer;

}

.input-div button img {
    filter: invert(100%);

}

.input-div button:active {
    opacity: .8;
}

@media (max-width: 480px) {

    .main-div {
        background-color: #f0f0f0;
        width: 50vh;
        height: 620px;
        box-shadow: #0000007e 0px 1px 8px;
        border-radius: 15px;
    }
}